.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #ddd;
  transform: translateX(-50%);
}

.timeline__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  position: relative;
  width: calc(50% - 7rem);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  background-color: #212121;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.timeline__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  animation: gradient 35s ease infinite;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.timeline__card:before {
  content: "";
  position: absolute;
  top: 45px;
  left: -23px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #e74c3c;
  background-color: #fff;
  left: 98.5%;
}

.timeline__card:nth-child(2n):before {
  border-color: #3498db;
}

.left {
  left: 24.35%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #FF7F50,	#B22222, #FF69B4);
	background-size: 400% 400%;
}

.left::before {
  left: -12px;
}

.right {
  right: 24.35%;
  background: linear-gradient(-70deg, #A459D1, #F16767, #443C68,	#D61355, #7B2869);
	background-size: 400% 400%;
}

.right::before {
  right: -12px;
}


.timeline__card .timeline__header {
  display: flex;
  flex-direction: column;
}

.timeline__card .timeline__header h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ddd;
}

.timeline__card .timeline__header h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 400;
  color: #ddd;
}

.timeline__card .timeline__header p {
  margin: 0.3rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 900;
  color: #ddd;
}

.timeline__card .timeline__details {
  display: none;
  margin-top: 1rem;
  color: #ddd;
  font-weight: 600;
}

.timeline__card:hover .timeline__details {
  display: block;
}
